{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'create_task_list' %}">Create Task List</a></li>
            <li><a href="{% url 'user_logout' %}" class="btn btn-logout">Log Out</a></li>
            
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        &copy; 2023 Ahmed Banalzwaa
    </footer>
</body>
</html>
