{% extends 'todolist/base.html' %}

{% block content %}
<div class="search-tasks">
    <h1>Search Tasks</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search tasks...">
        <button type="submit">Search</button>
    </form>
    <ul class="search-results">
        {% for task in tasks %}
            <li>
                <div class="search-result">
                    <a href="{% url 'task_list' task.task_list.id %}">{{ task.description }}</a>
                    <span class="task-list-name">({{ task.task_list.name }})</span>
                </div>
            </li>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'profile' %}">Back to Profile</a>
</div>
{% endblock %}

